body{
    
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
}

a{
    
    text-decoration: none;
    color: red;
    
}

a:hover{
    
    color: rgba(252,70,107,1);
    
}

.logo{
    
    
    color: #ffff00;
    position: absolute;
    right: 720px;
    top: 50px;
    font-size: 90px;
    font-family: 'Permanent Marker', cursive;
    
}



.container{
    
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    background: orange;
    max-height: 100%;
    height: 1200px;
    float: inherit;
    text-align: center;
    
}

*{
    
    box-sizing: border-box;
    
}