	.gradient {
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top, #fefcea, #f1da36);
    padding: 10px;
    border: 1px solid #333;
	}
	.h1 { 
    font-size: 220%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #333366;
	}
	body{
		
		background: #fefcea; /* Для старых браузров */
		background: linear-gradient(to top, #fefcea, #f1da36);
		padding: 10px;
		border: 1px solid #333;
		font-family: 'Ranchers', cursive;
		font-size: 15px;
		color: #333;
		
	}
	
	h1{
		
		margin: 0;
		
	}
	
	.container{
		
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	
	}
	
	.hrefdecor{
		
		color: #000000 ;
		text-decoration: none;
		
		font-size: 30px;
		
		width: 100%;
		
		max-width: 100;
		
		margin: 0 auto;
		
		transition : color .2s linear;
		
	}
	
	.hrefdecor:hover{
		
		color: #FF0000 ;
		
	}
	
		
		