body{
    
    font-size: 30px;
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
    background: rgb(180,155,58);
    background: linear-gradient(90deg, rgba(180,155,58,1) 0%, rgba(253,60,29,1) 50%, rgba(252,176,69,1) 100%);
    
}

a,ol,ul{
    
    color: purple;
    
}
.header{
    
    height: 200px;
    margin-bottom: 10px;
    
}

.inner-header{
    
    
    font-size: 50px;
    text-align: center;
    color: purple;
    padding: 30px;
    
}

.content1{
    
    
    width: 60%;
    min-height: 1000px;
    float: left;
    
}

.inner-content1{
    
   padding: 50px; 
   
    
}

.content2{
    
    
    width: 40%;
    min-height: 1000px;
    float: left;
    
}

.inner-content2{
    
    width: 500px;
    height: 500px;
    padding: 80px;
    
    
}