body {
    
    
  font-family: 'Sansita Swashed', cursive;  
  color:blue;
    
    
}

h1{
    
    text-align: center;
    
}

.calc{
    
    
  
  
    
}

.colres{
    
    color:red;
    
}
