body{
    
    
    font-family: 'Roboto Slab', serif;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    
}

.wrapper{
    
    height: 100vh;
    
}

a{
    
    color: black;
    text-decoration: none;
    transition: .3s;
    
}

a:hover{
    
    color: azure;
    font-size: 30px;
    
}

.clear{
    
    clear: both;
    
}

.header{
    
    width: 100%;
    height: 200px;
    background: aqua;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header__logo{
    
    font-size: 55px;
    margin-bottom: 5px;
    
}

.header__text{
    
    font-size: 18px
}

.header__arrow{
    
    margin-top: 10px;
    font-size: 40px;
    
}

.leftcont{
    
    height: 600px;
    width: 14%;
    background: red;
    border-radius: 15px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100px;
    
}

.rightcont{
    
    height: 600px;
    width: 85%;
    background: green;
    border-radius: 15px;
    float: right;
    
    
}
.cont__first{
    
    width: 23%;
    background: cadetblue;
    height: 580px;
    margin-top: 10px;
    margin-left: 26px;
    float: left;
    
}
.cont__second{
    
    width: 23%;
    background: cadetblue;
    height: 580px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;   
    
}
.cont__third{
    
    width: 23%;
    background: cadetblue;
    height: 580px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;  
    
}
.cont__fourth{
    
    width: 21%;
    background: cadetblue;
    height: 580px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;  
}
.footer{
    
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background: pink;
    border-radius: 15px;
    
}
